@font-face {
   font-family: 'Be Vietnam Pro';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('file:///C:/Users/jonas/Documents/_riev/fonts/Be Vietnam Pro/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam Pro';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('file:///C:/Users/jonas/Documents/_riev/fonts/Be Vietnam Pro/200.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam Pro';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///C:/Users/jonas/Documents/_riev/fonts/Be Vietnam Pro/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam Pro';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/jonas/Documents/_riev/fonts/Be Vietnam Pro/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam Pro';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/jonas/Documents/_riev/fonts/Be Vietnam Pro/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam Pro';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/jonas/Documents/_riev/fonts/Be Vietnam Pro/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam Pro';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///C:/Users/jonas/Documents/_riev/fonts/Be Vietnam Pro/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam Pro';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///C:/Users/jonas/Documents/_riev/fonts/Be Vietnam Pro/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam Pro';
   font-style: italic;
   font-display: swap;
   font-weight: 100;
   src: url('file:///C:/Users/jonas/Documents/_riev/fonts/Be Vietnam Pro/100italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam Pro';
   font-style: italic;
   font-display: swap;
   font-weight: 200;
   src: url('file:///C:/Users/jonas/Documents/_riev/fonts/Be Vietnam Pro/200italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam Pro';
   font-style: italic;
   font-display: swap;
   font-weight: 300;
   src: url('file:///C:/Users/jonas/Documents/_riev/fonts/Be Vietnam Pro/300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam Pro';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/jonas/Documents/_riev/fonts/Be Vietnam Pro/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam Pro';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/jonas/Documents/_riev/fonts/Be Vietnam Pro/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam Pro';
   font-style: italic;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/jonas/Documents/_riev/fonts/Be Vietnam Pro/500italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam Pro';
   font-style: italic;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/jonas/Documents/_riev/fonts/Be Vietnam Pro/600italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam Pro';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/jonas/Documents/_riev/fonts/Be Vietnam Pro/700italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam Pro';
   font-style: italic;
   font-display: swap;
   font-weight: 800;
   src: url('file:///C:/Users/jonas/Documents/_riev/fonts/Be Vietnam Pro/800italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Be Vietnam Pro';
   font-style: italic;
   font-display: swap;
   font-weight: 900;
   src: url('file:///C:/Users/jonas/Documents/_riev/fonts/Be Vietnam Pro/900italic.ttf') format('truetype');
}
